* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
}

#container {
  height: 100%;
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

#sidebar {
  float: left;
  width: 30%;
  box-sizing: border-box;
  background-color: #fff000;
  margin: 0;
  text-align: center;
  padding: 10px;
}

#title {
  font: 50px impact, sans-serif;
  color: #fff;
  text-shadow: #000 2px 2px 8px;
  text-align: center;
  margin-top: 0;
}

#logo {
  width: 50%;
}

#gameArea {
  float: left;
  box-sizing: border-box;
  width: 70%;
  text-align: center;
  padding: 20px;
  background-color: #00fd72c7;
  /* height: 468.5px; */
}

#score {
  font: 30px impact, sans-serif;
  color: #112266;
  padding-top: 0;
  margin: auto;
  margin-top: .1em;
}

#gameGrid {
  box-sizing: border-box;
  border: #f70 10px solid;
  margin: auto;
  /* table-layout: auto; */
  box-shadow: #000 4px 4px 5px;
  border-radius: 1em;
}

tr {
  width: 100%;
}

table img {
  width: 100%;
  height: auto;
}

#timer {
  font: 30px impact, sans-serif;
  text-shadow: #fff 2px 2px 2px;
}

#start {
  font: 30px impact, sans-serif;
  background: #f70;
  border: 4px transparent #000;
}

#start:hover {
  border: #000 solid 4px;
}

#start:visited {
  top: 10px;
}

#movesLeft {
  font: 20px impact, sans-serif;
  text-shadow: #fff 2px 2px 2px;
  text-align: left;
  padding-left: 1em;
}
/* design for small screens... */
@media(max-width:680px) {
  #sidebar {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    width: 100%;
    overflow: hidden;
    /* height: 75px; */
    /* box-sizing: border-box; */
  }
  #title {
    width: 20%;
    text-align: center;
    font-size: 100%;
    margin: 0 0.2em;
    align-self: center;
    /* margin-left: .1em;
    margin-right: 1em; */
    box-sizing: border-box;
  }
  #logo {
    width: 10%;
    height: auto;
    margin: 0 0.6em;
    align-self: center;
  }
  #start {
    font-size: 100%;
    text-shadow: #fff 1px 1px 1px;
    width: fit-content;
    height: 3em;
    margin: 0 auto;
    align-self: center;
    box-sizing: border-box;
  }
  #timer {
    width: 20%;
    font-size: 140%;
    margin: 0 0.1em;
    align-self: center;
  }
  #movesLeft {
    font-size: 100%;
    margin: 0 0.1em;
    margin-right: 1em;
    align-self: center;
    width: 20%;
  }
  #gameArea {
    width: 100%;
    box-sizing: border-box;
  }
}

/* @media(max-width:400px) {
body{
  width: 100%;
  display: flexbox;

}
  #gameArea{
  width: 100%;
  margin: auto;
}
  td,tr{
  width: 30px;
  height: 30px;
}
} */

/* !! this is the remainig work notes ..
fix td sizing for mobile phones.. 
*/