* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* height: auto; */
  /* overflow: hidden; */
  /* background-color: #fff000; */
}

/* Design for desktop and wide-screens... */

#gameGrid {
  width: 50%;
  box-sizing: border-box;
  border: #f70 10px solid;
  margin: auto;
  /* table-layout: auto; */
  box-shadow: #000 4px 4px 5px;
  border-radius: 1em;
  vertical-align: middle;
}

#gameArea {
  /* right: 0; */
  height: 100%;
  box-sizing: border-box;
  width: 70%;
  text-align: center;
  padding: 20px;
  background-color: #00fd72c7;
  float: right;
  vertical-align: middle;
}

#gameContainer {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#container {
  height: 100%;
  /* display: flexbox;
  flex-wrap: nowrap; */
  /* flex-direction: row; */
  align-items: center;
}

#sidebar {
  /* left: 0; */
  height: 100%;
  width: 30%;
  box-sizing: border-box;
  background-color: #fff000;
  text-align: center;
  padding: 10px;
  float: left;
  /* max-height: 400px; */
}

#sideContainer {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#title {
  font: 50px impact, sans-serif;
  color: #fff;
  text-shadow: #000 2px 2px 8px;
  text-align: center;
  margin-top: 0;
}

#logo {
  width: 50%;
  max-width: 100px;
  margin: 0.5em;
}

#score {
  font: 30px impact, sans-serif;
  color: #112266;
  padding-top: 0;
  margin: auto;
  margin-top: .1em;
}

tr {
  width: 100%;
}

table img {
  width: 100%;
  /* height: auto; */
  visibility: hidden;
}

#timer {
  font: 30px impact, sans-serif;
  text-shadow: #fff 2px 2px 2px;
  margin: 0.5em;
}

#start {
  font: 30px impact, sans-serif;
  background: #f70;
  border: 4px transparent #000;
}

#start:hover {
  border: #000 solid 4px;
}

#start:visited {
  top: 10px;
}

#movesLeft {
  font: 20px impact, sans-serif;
  text-shadow: #fff 2px 2px 2px;
  text-align: center;
  margin: 0.5em;
  /* padding-top: 2em; */
  /* padding-left: 1em; */
}

#footer {
  height: fit-content;
}

/* design for small screens... */

@media(max-width:680px) {
  #sideContainer {
    /* position: inherit; */
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }
  #sidebar {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    width: 100%;
    overflow: hidden;
    height: 75px;
    box-sizing: border-box;
  }
  #title {
    width: 20%;
    text-align: center;
    font-size: 100%;
    margin: 0 auto;
    align-self: center;
    /* margin-left: .1em;
    margin-right: 1em; */
    box-sizing: border-box;
  }
  #logo {
    width: 10%;
    height: auto;
    margin: 0 0.6em;
    align-self: center;
  }
  #start {
    font-size: 100%;
    text-shadow: #fff 1px 1px 1px;
    width: fit-content;
    height: 3em;
    margin: 0 auto;
    align-self: center;
    box-sizing: border-box;
  }
  #timer {
    width: 20%;
    font-size: 140%;
    margin: 0 0.1em;
    align-self: center;
  }
  #movesLeft {
    font-size: 100%;
    margin: 0 0.1em;
    margin-right: 1em;
    align-self: center;
    width: 20%;
  }
  #gameArea {
    width: 100%;
    box-sizing: border-box;
    /* height: 90%; */
  }
  #gameGrid {
    width: 90%;
  }
  #mod-back {
    position: fixed;
    z-index: 1;
    /* top: 50%; */
    /* bottom: 10%; */
    /* left: 20%;
    right:20%;
    /* width: auto; */
    height: auto; */
    /* align-content: center;
    text-align: center; */
    /* overflow: auto; */
  }
  #failed-img{
    position: fixed;
    /* top: 20%; */
    /* left: 1%;
    right: 10%; */
    margin: auto;
    /* bottom: 20%; */
  }
}

@media(max-width:360px) {
  body {
    width: 100%;
    display: flexbox;
  }
  #gameGrid {
    /* width: 100%; */
    height: 100%;
    margin: auto;
  }
  td, tr {
    box-sizing: border-box;
    width: 25%;
  }
  #mod-back {
    position: fixed;
    z-index: 1;
    /* top: 50%; */
    /* bottom: 10%; */
    /* left: 20%;
    right:20%; */
    width: 100%;
    /* height: auto; */
    /* align-content: center;
    text-align: center; */
    /* overflow: auto; */
  }
  
  #failed-img,#success-img{
    width: 70%;
    /* position: fixed; */
    /* top: 20%; */
    /* left: 20%; */
    /* right: 20%; */
    margin: auto;
    /* bottom: 20%; */
  }
}

/* -------------------------------
----------GAME EFFECTS ---------- */

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  border: none;
}

.correct {
  border: #f70 2px solid;
}

.incorrect {
  border: none;
}

.clicked {
  box-shadow: #000 2px 2px;
}

.happyLogo {
  content: url(img/Logo/boss.png);
}

.sadLogo {
  content: url(img/Logo/angry.png);
}

.thinkingLogo {
  content: url(img/Logo/think.png);
}

.deadLogo {
  content: url(img/Logo/dead.png);
}

/* !! this is the remainig work notes ..
fix td sizing for mobile phones.. 
*/

/* Message  style */

#message{
  align-content: center;
  margin: auto;
}
.congrats{
  display: inherit;
}
/* #success{
  position: fixed;
  width: 100%;
}
#failed{
  position: fixed;
} */
#mod-back {
  position: fixed;
  z-index: 1;
  /* width: 70%;
  height: 70%; */
  /* top: 10%; */
  /* bottom: 10%; */
  /* left: 20%;
  right:20%; */
  width: 100%;
  height: auto;
  align-content: center;
  text-align: center; 
  /* overflow: auto; */
}
/* Button style.... */
.replay {
  background-color: #f70;
  color: #fff;
  text-shadow: #000 2px 2px 1px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2em;
  text-align: center;
  /* width: 50%; */
  position: fixed;  
  z-index: 2;
  margin: auto;
  top: 50%;
  left: 20%;
  right: 20%;
  width: 60%;
  height: 4em;
}
#failed{
  /* width: 50%; */
  margin: auto;
  border: #111ba7 2px solid;
}
#failed-img,#success-img{
  width: 50%;
  position: fixed;
  top: 20%;
  left: 20%;
  right: 20%;
  margin: auto;
  bottom: 20%;
}
.no-display{
  display: none;
}